.loader {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader p {
    margin-top: 1em;
    /*background-color: #6DCFF6;*/
    color: #00132C;
    font-size: 17px;
    font-family: "Lucida Console", monospace;
    font-weight: 620;
}